<ion-header>
    <ion-navbar color="danger">
        <button menuToggle *ngIf="!selectedItem">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>订单内容: {{selectedItem.id }} </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>

        <ion-card-header *ngIf="selectedItem">
          交货时间: {{ selectedItem.delivery_time }}
        </ion-card-header>

        <ion-card-content>
            地址: <b>{{ selectedItem.user.name }}</b>
            <br />
            {{ selectedItem.district }}<br />
            {{ selectedItem.street }} {{ selectedItem.street_number }} - {{ selectedItem.house_number }}
            <br />
            付款类型: <b>{{ selectedItem.paymenttype.name }}</b>
            <br />
            电话: {{ selectedItem.mobile }}
        </ion-card-content>

    </ion-card>
    
    <ion-card *ngIf="selectedItem.telecaller_note && selectedItem.telecaller_note.length !== 0">
        
        <ion-card-header>
            调度中心备注
        </ion-card-header>
        
        <ion-card-content>
            {{ selectedItem.telecaller_note }}
        </ion-card-content>
        
    </ion-card>
    
    <ion-card *ngIf="selectedItem.customer_note && selectedItem.customer_note.length !== 0">
        
        <ion-card-header>
            客户备注
        </ion-card-header>
        
        <ion-card-content>
            {{ selectedItem.customer_note }}
        </ion-card-content>
    </ion-card>
    
    <ion-card class="extra-margin">
        <ion-card-header *ngIf="selectedItem">
            食品
        </ion-card-header>
        
        <ion-card-content>
            <ion-list>
                <ion-item *ngFor="let item of selectedItem.items">
                    {{ item.food.name }} X {{ item.quantity }}
                    <div class="item-note" item-right>
                        ¥ {{ item.price*item.quantity }}
                    </div>
                </ion-item>
                <ion-item *ngIf="selectedItem.discount > 0">
                    <b>折扣</b>
                    <div class="item-note" item-right>
                        <b>¥ - {{ selectedItem.discount }}</b>
                    </div>
                </ion-item>
                <ion-item>
                    <b>总价</b>
                    <div class="item-note" item-right>
                        <b>¥ {{ selectedItem.total }}</b>
                    </div>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
    
    <ion-fab right bottom>
        <button ion-fab color="danger"><ion-icon name="arrow-dropleft"></ion-icon></button>
        <ion-fab-list side="left">
            <button ion-fab [color]="isDelivered ? 'secondary' : 'danger'" (click)="showConfirm()"><ion-icon name="checkmark"></ion-icon></button>  

            <button ion-fab color="primary" (click)="openMap()"><ion-icon name="map"></ion-icon></button>

            <button ion-fab (click)="copyAddress()"><ion-icon name="copy"></ion-icon></button>

            <a ion-fab color="secondary" href="tel:{{selectedItem.mobile}}"><ion-icon name="call"></ion-icon></a>
            
        </ion-fab-list>
    </ion-fab>
</ion-content>
